Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [4]:
import pandas as pd
data = { 'Name' : ['Alice', 'Bob', 'Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame is a Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold any data type such as integers, strings, or even Python objects. It is similar to a column in a spreadsheet or a SQL table.

In [ ]:
import pandas as pd

# create a dictionary of data
data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from the 'Name' column of the DataFrame
name_series = df['Name']

# print the DataFrame and Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(name_series)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions are:

head(): This function returns the first n rows of the DataFrame. It is useful for quickly checking the structure of the data.

In [ ]:
import pandas as pd

# create a DataFrame from a list of dictionaries
data = [{'Name': 'Alice', 'Age': 25, 'Gender': 'Female'},
        {'Name': 'Bob', 'Age': 30, 'Gender': 'Male'},
        {'Name': 'Claire', 'Age': 27, 'Gender': 'Female'}]
df = pd.DataFrame(data)

# display the first 2 rows of the DataFrame
print(df.head(2))

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature, meaning that the data they contain can be modified after creation. On the other hand, Panel has been deprecated and replaced by MultiIndex objects, which are also mutable. However, it is important to note that modifying a DataFrame or Series in-place can have unintended consequences and should be done with caution. It is often safer to create a new object with the desired modifications rather than modifying the original object directly.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd
emp = pd.Series(["Chinmay","Ameya","Shubham"], name = 'employee')
age = pd.Series([25,25,22], name='age')
education = pd.Series(['BSc','BSc','HSC'], name = 'edu')
df = pd.DataFrame({'emp' : emp, 'age' : age, 'education' : education})
print(df)

       emp  age    education
0  Chinmay   25  BSc,BSc,HSC
1    Ameya   25          NaN
2  Shubham   22          NaN